* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 🔲 BARRA */
.barra {
  background: black;
  text-align: center;
  padding: 8px 10px;
}

#frase {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 3px;
  transition: opacity 0.3s;
}

.resaltado {
  font-weight: 700;
  color: #00ffff;
}

/* 🔴 HEADER */
.header {
  background: #05c7f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  transition: transform 0.3s ease;
}

.logo img {
  width: 60px;
}

/* MENÚ NORMAL */
.menu {
  display: flex;
  gap: 25px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 13px;
  text-transform: uppercase;
}

/* 🍔 */
.hamburguesa {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

/* 🔥 OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 900;
}

.overlay.active {
  display: block;
}

/* 📱 MÓVIL */
@media (max-width: 768px) {
  .hamburguesa {
    display: block;
  }

  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100vh;
    background: #05c7f2;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    transition: 0.3s;
    z-index: 1000;
  }

  .menu.active {
    left: 0;
  }
}

/* TEXTO RESPONSIVE */
@media (max-width: 600px) {
  #frase {
    font-size: 11px;
  }
}
