* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navegador {
  z-index: 1000;
  position: fixed;
  width: 100%;
}

/* BARRA */
.barra {
  background: black;
  text-align: center;
  padding: 8px 10px;
}

#frase {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 3px;
  transition: opacity 0.3s;
}

.resaltado {
  font-weight: 700;
  color: #00ffff;
}

/* HEADER */
.header {
  background: #67dbf5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  transition: transform 0.3s ease;
}

.logo {
  margin-left: 200px;
}

.logo img {
  width: 100px;
}

/* MENÚ */
.menu {
  display: flex;
  gap: 25px;
  margin-right: 150px;
}

.menu a {
  color: #0568b8;
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 13px;
  text-transform: uppercase;
}

/* OPCIONES EXTRA */
.extra {
  font-weight: 600;
  border-left: 2px solid rgba(10, 0, 0, 0.4);
  padding-right: 15px;
  padding-left: 15px;
}

/* MENU HAMBURGUESA */
.hamburguesa {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

/* CONTENIDO */
.zona {
  padding-top: 160px;
}

.zona h2 {
  margin: 20px 0 10px 60px;
  font-size: 28px;
  font-weight: 600;
}

/* BANNER */
.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 15px;
}

.banner img {
  width: 100%;
  max-width: 900px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
}

/* FORMULARIO */
.form-container {
  max-width: 1000px;
  margin: 50px auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  border-top: 5px solid #05c7f2; /* color de tu marca */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.field.full {
  flex: 100%;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 4px;
  font-size: 14px;
}

textarea {
  height: 100px;
  resize: none;
}

.checkbox {
  align-items: center;
}

.checkbox input {
  margin-right: 10px;
}

.checkbox a {
  color: red;
  text-decoration: none;
}

button {
  background: red;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: darkred;
}
/* OVERLAY (SOMBRA) */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 900;
}

.overlay.active {
  display: block;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hamburguesa {
    display: block;
    z-index: 1100;
  }

  .logo {
    margin-left: 0;
  }

  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100vh;
    background: #05c7f2;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 20px 20px;
    gap: 20px;
    transition: 0.3s;
  }

  .menu.active {
    left: 0;
  }

  .menu a {
    width: 100%;
    font-size: 14px;
    padding: 10px 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .extra {
    border: none;
    font-weight: bold;
  }

  .zona h2 {
    margin-left: 20px;
    font-size: 22px;
  }

  .banner img {
    max-width: 100%;
    border-radius: 8px;
  }
  .row {
    flex-direction: column;
  }

  .form-container {
    padding: 20px;
    margin: 20px;
  }

  input,
  textarea {
    width: 100%;
  }

  button {
    width: 100%;
  }
}

/* TEXTO RESPONSIVE */
@media (max-width: 600px) {
  #frase {
    font-size: 11px;
  }
}
